* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  background: url(/img/pattern-7455773_640.webp) no-repeat fixed center,
    linear-gradient(to right, rgba(255, 0, 255, 0.5), rgba(0, 255, 255, 0.5)),
    rgba(0, 0, 0, 0.956);
  background-size: cover;
  overflow: hidden;
}
section {
  position: relative;
  margin-top: 3.5vh;
  background: linear-gradient(to bottom, rgba(41, 41, 41, 0.5), rgba(31, 31, 31, 0.5));
  filter: blur(180%) brightness(200%);
  width: 398px;
  height: 680px;
  border-top: 3px solid rgba(255, 255, 255, 0.735);
  border-bottom: 3px solid rgba(255, 255, 255, 0.783);
  border-radius: 0 0 7px 7px;
  opacity: 0;
  transition: all 1s;
}
.ball {
  position: absolute;
  top: 350px;
  left: 168px;
  right: 168px;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.paddle {
  position: absolute;
  width: 80px;
  height: 10px;
  left: 0;
  bottom: 0;
  background: rgb(80, 118, 255);
  border-radius: 8px;
}

.score {
  margin-top: -27px;
  padding-top: 2px;
  padding-left: 15px;
  color: #ffffffd5;
  font: bold 1.1em sans-serif;
  letter-spacing: 0.09em;
  text-transform: capitalize;
}
.brick {
  position: absolute;
  margin: 4.5px 1.5px 0 1.5px;
  width: 39px;
  height: 17px;
  background-color: #47db34;
  border: 3.5px solid rgba(255,255,255,0.1);
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.1s;
}
.brick:nth-child(odd) {
  background: blue;
}
.brick:nth-child(even)
.brick:hover {
  transform: scale(0.9);
}
.startGame {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.restartGame {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.restartGame .text {
  color: #fff;
  font: normal 1.8em verdana;
  text-transform: capitalize;
  transform: translate(0, 100px);
}
.text {
  color: #fff;
  font: normal 1.8em verdana;
  text-transform: capitalize;
  transform: translate(0, 100px);
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5em;
  width: 100%;
  height: 93.4vh;
  background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5));
  box-shadow: inset 0 0 3px 4px rgba(34,34,34,8), inset -0 -0 3px 4px rgba(34,34,34,8);
}
 #header {
  position: absolute;
  color: rgb(146,13,255);
  text-shadow: -1px 1px #000;
  font-size: 2.2em;
  transform: translate(0, 1em);
  opacity: 0;
  transition: all 1s;
}
main > button {
  transform: translate(0, 20em);
  width: fit-content;
height: fit-content;
color: #fff;
  border: none;
  background: rgb(13,255,27);
  border-radius: 8px;
  padding: 6px 15px;
  text-transform: capitalize;
  font: normal 1em verdana;
  box-shadow: inset 1px 1px 3px #fff, inset -1px -1px 3px #363645;
  opacity: 0;
  transition: all 1s;
}
main > button:active {
  transform: translate(0,25em) scale(0.9);
}
.loading-container {
  visibility: hidden;
  position: absolute;
  top: 24em;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.loader {
  width: 20px;
  height: 20px;
  background-color: rgb(255,13,227);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader:nth-child(2) {
  animation-delay: 0.15s;
}

.loader:nth-child(3) {
  animation-delay: 0.3s;
}

.loader:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
