* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  background: linear-gradient(
      to right,
      rgba(255, 0, 255, 0.5),
      rgba(0, 255, 255, 0.5)
    ),
    rgba(0, 0, 0, 0.956);
    overflow: hidden;
}
section {
  position: relative;
  margin: 3.8vh auto 0 auto;
  background: rgba(30, 29, 29, 0.6);
  backdrop-filter: blur(180%);
  width: 390px;
  height: 748px;
  box-shadow: 0 0 3px 2px rgb(255, 255, 255, 0.7), -0 -0 3px 2px rgba(255,255,255, 0.7);
  border-radius: 4px 4px 10px 10px;
  border: 3px solid transparent;
}
.ball {
  position: absolute;
  top: 350px;
  left: 168px;
  right: 168px;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5), -0 -0 2px 1px rgba(255, 255, 255, 0.5);
  transition: all 0.1s;
}
.paddle {
  position: absolute;
  left: 140px;
  width: 80px;
  height: 10px;
  background: rgb(90, 80, 255);
  border-radius: 8px;
  bottom: 1px;
  border: 1px solid rgba(255, 255, 255, 0.956);
}
.score {
  margin-top: -30px;
  padding-left: 15px;
  color: #ffffffd5;
  font: bold 1.1em sans-serif;
  letter-spacing: 0.09em;
  text-transform: capitalize;
}
.brick {
  position: absolute;
  width: 45px;
  height: 20px;
  background-color: #11ff03d9;
  border: 1.5px solid #2f2e2d;
  box-sizing: border-box;
}
.startGame {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.restartGame {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.restartGame .text {
  color: #fff;
  font: normal 1.8em verdana;
  text-transform: capitalize;
  transform: translate(0, 100px);
}
.text {
  color: #fff;
  font: normal 1.8em verdana;
  text-transform: capitalize;
  transform: translate(0, 100px);
}
