* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  background: url(/img/pattern-7455773_640.webp),
    linear-gradient(to right, rgba(255, 0, 255, 0.5), rgba(0, 255, 255, 0.5)),
    rgba(0, 0, 0, 0.956);
  overflow: hidden;
}
section {
  position: relative;
  margin: 3.8vh auto 0 auto;
  background: linear-gradient(to bottom, rgb(41, 41, 41), rgb(31, 31, 31));
  filter: blur(100%) brightness(160%);
  width: 373px;
  height: 574px;
  border-top: 3px solid rgba(255, 255, 255, 0.735);
  border-bottom: 3px solid rgba(255, 255, 255, 0.783);
  border-radius: 0 0 7px 7px;
}
.ball {
  position: absolute;
  top: 350px;
  left: 168px;
  right: 168px;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.paddle {
  position: absolute;
  width: 80px;
  height: 10px;
  left: 130px;
  bottom: 0;
  background: rgb(80, 118, 255);
  border-radius: 8px;
}

.score {
  margin-top: -27px;
  padding-top: 2px;
  padding-left: 15px;
  color: #ffffffd5;
  font: bold 1.1em sans-serif;
  letter-spacing: 0.09em;
  text-transform: capitalize;
  background: rgb(45, 45, 45);
  height: 25px;
}
.brick {
  position: absolute;
  margin: 4.5px 1.5px 0 1.5px;
  width: 39px;
  height: 17px;
  background-color: #47db34;
  border: 3.5px solid rgb(1, 1, 1);
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.1s;
}
.brick:hover {
  transform: scale(0.9);
}
.startGame {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.restartGame {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.restartGame .text {
  color: #fff;
  font: normal 1.8em verdana;
  text-transform: capitalize;
  transform: translate(0, 100px);
}
.text {
  color: #fff;
  font: normal 1.8em verdana;
  text-transform: capitalize;
  transform: translate(0, 100px);
}
